<div class="row">
	<div class="p-20">
		<button (click)="createTodoDialog()">Create Todo</button>
	<div>
</div>
<table class="table">
 <thead>
	<tr>
		Todo List
	</tr>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Description</th>
		<th>Priority</th>
		<th>
		<th>
	</tr>
</thead>
<tbody>
	<tr *ngFor="let todo of todoList">
		<td>{{todo.todoId}}</td>
		<td>{{todo.todoName}}</td>
		<td>{{todo.todoDescription}}</td>
		<td>{{todo.todoSeverity}}</td>
		<td>
			<div class="p-5">
				 <button class="btn btn-primary" (click)="doRemove(todo.todoId)">Remove</button>
			</div>
			<div class="p-5">
				 <button class="btn btn-primary" (click)="doRemove(todo.todoId)">Edit</button>
			</div>
		</td>
	</tr>
</tbody>
</table>
